@model Pet_Adoption_System.Models.ColorAndCategoryComposite
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Pets";
}

<div class="details">
    <div class="orders-area">
        <div class="orders-header">
            <h2 class="order-title">Add Pets</h2>
            @*<a href="" class="btn btn-primary rounded-pill order-btn">View All</a>*@
        </div>
        @using (Html.BeginForm("Pets","Admin",FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <form class="pb-3 mb-5">

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label>Name:</label>
                        <input type="text" name="petName" class="form-control" />
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Colors:</label>
                        <select class="form-control" multiple name="petColors">
                            @if (Model.clrsList != null && Model.clrsList.Count > 0)
                            {
                                foreach (var singleColor in Model.clrsList)
                                {
                                    <option value="@singleColor.colorId">@singleColor.colorName</option>
                                }
                            }


                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="age">Age:</label>
                        <input type="number" name="petAge" class="form-control" id="age" />
                    </div>

                    <div class="col-md-6 mb-3">
                        <label>Category:</label>
                        <select class="form-control" name="petCategId">
                            @if (Model.catgrsList != null && Model.catgrsList.Count > 0)
                            {
                                foreach (var singleCateg in Model.catgrsList)
                                {
                                    <option value="@singleCateg.categoryId">@singleCateg.categoryTitle</option>
                                }
                            }
                            else
                            {
                                <option>No Categories Listed</option>
                            }


                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 mb-3">
                        <label>Pet Description:</label>
                        <textarea class="form-control" name="petDesc"></textarea>
                    </div>
                    <div class="col-6 mb-3">
                        <label>Pet Cost:</label>
                        <input type="number" name="petCost" class="form-control" />
                    </div>
                </div>
                <div class="col-8 mb-3">
                    <label>Title Image(file):</label>
                    <input type="file" name="file1" class="form-control" />
                </div>
                <div class="row">
                    <div class="col-4 mb-3">
                        <label>Image 2:</label>
                        <input type="file" name="file2" class="form-control" />
                    </div>
                    <div class="col-4 mb-3">
                        <label>Image 3:</label>
                        <input type="file" name="file3" class="form-control" />
                    </div>
                    <div class="col-4 mb-3">
                        <label>Image 4:</label>
                        <input type="file" name="file4" class="form-control" />
                    </div>
                </div>
                <button class="btn btn-primary mb-5" type="submit">Add</button>
            </form>
        }


    </div>

    <div class="clients">
        <h3 class="order-title">Added Pets</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Pet</th>
                    <th>Type</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.petList != null && Model.petList.Count > 0)
                {
                    foreach (var singelCateg in Model.petList)
                    {
                        <tr>
                            <td>
                                <div class="user"><img src="~/images/@singelCateg.petTitleImg" alt=""></div>
                            </td>
                            <td>
                                <a href="@Url.Action("PetView","Home", new {id = singelCateg.petId })">
                                     <div class="text-secondary ps-3">@singelCateg.petName</div>
                                </a>
                            </td>
                            <td>
                                 <span class="pet-status">@(singelCateg.petStatus == 0 ? "Not Verified" : "Verified")</span>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td class="d-flex align-items-center">
                            <h5>No Pets to show!</h5>
                        </td>
                    </tr>
                }

            </tbody>
        </table>


    </div>
</div>

<div class="footer w-100 p-3 fixed-bottom bg-dark">
    <p class="text-center text-white">Copyright © 2022 | Js-Dev . All rights Reserved .</p>
</div>
