@*@model List<Pet_Adoption_System.Models.Category>*@
@model Pet_Adoption_System.Models.ColorAndCategoryComposite
@{
    ViewBag.Title = "Home";
    Pet_Adoption_System.Models.User userData = Session["userInfo"] as Pet_Adoption_System.Models.User;
}


@Html.Raw(TempData["message"])
<!-- banner section -->
<section class="banner-section">
    <div class="container">
        <div class="bannerHolder w-100 d-flex align-items-center justify-content-between">
            <div class="bannerTagLinesArea">
                <h1 class="headLineText">The love you Rescue,<br> Rescues you right back!</h1>
                <button class="btn btn-warning mt-2">Find Your Match!</button>
            </div>
            <div class="giphArea p-5">
                <img src="~/images/a426653d052246e2d4d18ab8c7f933c6.gif" class="img-fluid bannerGiph" alt="bannerImg">
                <!-- <h2>Hello</h2> -->
            </div>
        </div>
    </div>
</section>

<!-- categorize section -->
<section class="categorizeSection py-4" id="categories">
    <div class="container">
        <h3 class="text-center categoriesHeading pb-3">Our Categories</h3>
        <div class="categorizeHolder d-flex align-items-center">
            <div class="row w-100">
                @if (Model.catgrsList.Count > 0)
                {
                    foreach (var singleCateg in Model.catgrsList)
                    {
                        <div class="col-sm-3 col-md-3 col-12 d-flex justify-content-center mb-5">
                            <a href="@Url.Action("CategoryView","Home", new { id = singleCateg.categoryId})">
                                <div class="categCard">
                                    <img src="~/images/@singleCateg.categoryImage" alt="img">
                                    <div class="overLay d-flex align-items-center justify-content-center">
                                        <h4 class="text-center">@singleCateg.categoryTitle</h4>
                                    </div>
                                </div>
                            </a>

                        </div>

                    }
                }
                else
                {
                    <h5>No Categories Listed !</h5>
                }
            </div>

        </div>
    </div>
</section>



<!-- Pets section -->
<section class="categorizeSection py-4" id="petsSection">
    <div class="container">
        <h3 class="text-center categoriesHeading pb-3">Our Pets</h3>
        <div class="categorizeHolder d-flex align-items-center">
            <div class="row w-100">
                @if (Model.catgrsList.Count > 0)
                {
                    foreach (var singlePet in Model.petList)
                    {
                        <div class="col-sm-3 col-md-3 col-12 d-flex justify-content-center mb-5">
                            <a href="@Url.Action("PetView","Home" , new { id = singlePet.petId})">
                                <div class="petsCard">
                                    <img class="petsCardImg" src="~/images/@singlePet.petTitleImg" alt="img">
                                    <div class="edgyContainer d-flex justify-content-center">
                                        <h4 class="text-center mt-3 text-secondary">@singlePet.petName</h4>
                                    </div>
                                    <div class="petsCardoverLay d-flex align-items-center justify-content-center">
                                        <h4>Age: @singlePet.petAge yrs</h4>
                                    </div>
                                </div>
                            </a>
                        </div>

                    }
                }
                else
                {
                    <h5>No Pets Listed !</h5>
                }
            </div>

        </div>
    </div>
</section>



<!-- customer reviews section -->

<section class="categorizeSection py-4">
    <div class="container">
        <h3 class="text-center categoriesHeading pb-3">Customer Reviews</h3>
        <div class="reviewsHolder d-flex align-items-center">
            <div class="row w-100">
                @if (Model.reviewList != null && Model.reviewList.Count > 0)
                {
                    foreach (var singleReview in Model.reviewList)
                    {
                        <div class="col-md-4 col-12 d-flex justify-content-center mb-5">
                            <div class="reviewCard">
                                @*<img src="images/catImg.jpg" alt="custImg" class="reviewPersImg">*@
                                <p class="mt-3 text-center text-secondary">
                                    <span class="fs-3">&#8220</span>
                                    @singleReview.review
                                    <span class="fs-3">&#8221</span>
                                </p>
                                <p class="text-end text-secondary me-2">Rated On: @singleReview.rvTime</p>
                                <p class="text-end text-secondary me-2">Rated by: @singleReview.custname</p>
                            </div>
                        </div>
                    }
                }
                else { 
                    <h5 class="text-center">No reviews to show!</h5>
                }
            </div>

        </div>
    </div>
</section>